<ul>
	<li><img src="./images/male_occ_20.png"></img><B>Occupato Maschio</B></li>
	<li><img src="./images/female_occ_20.png"></img><B>Occupato Femmina</B></li>
	<li><img src="./images/male_pre_20.png"></img><B>Prenotato Maschio</B></li>
	<li><img src="./images/female_pre_20.png"></img><B>Prenotato Femmina</B></li>
	<li><img src="./images/stanza_lib_20.png"></img><B>Stanza Libera</B></li>
	<li><img src="./images/letter_I_blue.png"></img><B>Infermeria</B></li>
	<li><img src="./images/letter_A_blue.png"></img><B>Ambulatorio</B></li>
	<li><img src="./images/letter_S_blue.png"></img><B>Soggiorno</B></li>
	<li><img src="./images/letter_T_blue.png"></img><B>Vano Tecnico</B></li>
	<li><img src="./images/letter_B_blue.png"></img><B>Bagno</B></li>
</ul>