<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>regina_webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>Home.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FloorList</display-name>
    <servlet-name>FloorList</servlet-name>
    <servlet-class>it.sbsoft.servlets.FloorList</servlet-class>
    <init-param>
      <param-name>persistProperties</param-name>
      <param-value>false</param-value> 
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FloorList</servlet-name>
    <url-pattern>/FloorList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FloorOccupancy</display-name>
    <servlet-name>FloorOccupancy</servlet-name>
    <servlet-class>it.sbsoft.servlets.FloorOccupancy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FloorOccupancy</servlet-name>
    <url-pattern>/FloorOccupancy</url-pattern>
  </servlet-mapping>
</web-app>