<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>regina_webapp</display-name>
  <servlet>
    <display-name>FloorList</display-name>
    <servlet-name>FloorList</servlet-name>
    <servlet-class>it.sbsoft.servlets.FloorList</servlet-class>
    <init-param>
      <param-name>persistProperties</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>simulatorMode</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>FloorOccupancy</display-name>
    <servlet-name>FloorOccupancy</servlet-name>
    <servlet-class>it.sbsoft.servlets.FloorOccupancy</servlet-class>
  </servlet>
  <servlet>
    <display-name>MaintSrvlt</display-name>
    <servlet-name>MaintSrvlt</servlet-name>
    <servlet-class>it.sbsoft.servlets.MaintSrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FloorList</servlet-name>
    <url-pattern>/FloorList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FloorOccupancy</servlet-name>
    <url-pattern>/FloorOccupancy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MaintSrvlt</servlet-name>
    <url-pattern>/MaintSrvlt</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Home.htm</welcome-file>
  </welcome-file-list>
  <servlet>
	<servlet-name>log4j-init</servlet-name>
    <servlet-class>it.sbsoft.servlets.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>${catalina.home}/conf/log4j_regina.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>