@CHARSET "ISO-8859-1";

:root{-webkit-print-color-adjust:exact}

body {
	padding-top: 20px;
	margin: 0 auto;
	width: 1185px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border-radius: 10px;
}

#head {
	width: 1162px;
	text-align: center;
	border: 2px solid #222222;
	border-radius: 10px;
	position: relative;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
}

#cont_border {
	display: inline-block;
	border: 2px solid #222222;
	border-radius: 10px;
}

.selectors {
	float: left;
	padding: 20px;
	border: 2px solid #222222;
	border-radius: 10px;
	height: 25px;
}

.config {
	/* visibility: visible;*/
	visibility: hidden;
}	

#dayvalue {
	line-height: 26px;
	font-size: 25px;
	width: 32px;
	text-align:center;
}

#infBtn {
	position: absolute; 
	top: 25px; 
	left: 35px;
}

#lgndBtn {
	position: absolute; 
	top: 25px; 
	left: 80px;
}

#lgndDiag li {
	list-style: none;
}

#lgndDiag ul {
	padding-left: 5px;
}

#lgndDiag B {
	display: inline;
	padding-left: 10px;
	vertical-align: 6px;
}

#mntBtn {
	position: absolute; 
	top: 25px; 
	left: 125px;
}

#dialog {
	display: none;
}	

div.left {
	text-align: right;
	position: absolute;
	display: inline;
	width: 200px;
}

div.right {
	text-align: left;
	position: absolute;
	display: inline;
	width: 75%;
	left: 220px;
}

#jbutton {
	width: 170px;
}

#radio {
	padding: 10px;
}

#rad1lbl, #rad2lbl {
	width: 50px;
}

#maintDiag, #errDiag, #msgDiag {
	text-align: center;
	display: none;
}

.credits {
    width: 100%;
    text-align: center;
    font-size: 10px;
	color: gray;
}

/* Days Table */
.ou {
    display: -webkit-inline-box;
	border: 1px solid;
	border-color: black;
	background-color: black;
	color: white;
	margin-left: -5px;
	/*width: 2.8%;*/
	border-radius: 26px;
}

.ou:hoover {  
	border-color: white;
	background-color: white;
}

.in {
	/*width: 50%;*/
	display: block;
	text-align: center;
	margin: 0px auto;
	font-family: monospace;
	font-weight: bold;
	font-size: xx-small;
	height: 12px;
}
.in:hover {
	/*color: white;
	background-color: black;*/
	transform: scale(2.5);
	cursor:pointer;
}

/* Cleaning form */
.rtd { text-align: right; width: 50%; padding: 0px 5px 0px 5px; }
.ltd { text-align: left; }
